.Forecast {
    text-align: center;
}

.Daily-temp-max {
    font-weight: bold;
}

.Daily-temp-min {
    margin-left: 5px;
}

.Forecast-week {
    font-size: 13px;
  }
  
.forecastIcons img {
    height: 13px;
    width: 13px;
  }
