.Forecast {
    text-align: center;
}

.Daily-temp-max {
    font-weight: bold;
}

.Daily-temp-min {
    margin-left: 5px;
}

.Forecast-week {
    font-size: 20px;
  }
  
.forecastIcon {
    font-size: 20px;
  }
