.Weather {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid darkblue;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(216, 236, 248);
    border-radius: 5px;
}

.Weather .temperature {
    color: rgb(33, 33, 33);
    font-size: 50px;
    line-height: 64px;
    font-weight: 400;
}

.Weather .unit {
    position: relative;
    font-size: 16px;
    top: -34px;
}